<div class="container-wrap">
    <div id="fh5co-news">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Наши новости</h2>
                <p>Последние наиболее важные события в мире недвижимости</p>
            </div>
        </div>
        <div class="row">
            {% for new in news %}
            <div class="col-md-3 animate-box">
                <div class="news">
                    <a href="{{ new.url }}" class="img-holder"><img class="img-responsive" src="/upload/medium/{{ new.main_image }}" alt=""></a>
                    <div class="desc">
                        <span class="date">{{ (new.date + 43200) | date('d.m.Y') }}</span>
                        <h3><a href="{{ new.url }}">{{ new.name }}</a></h3>
                        <p>{{ new.anons }}</p>
                        <a href="{{ new.url }}">Читать дальше <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {#
            <div class="col-md-3 animate-box">
                <div class="news">
                    <a href="#" class="img-holder"><img class="img-responsive" src="images/img-3.jpg" alt=""></a>
                    <div class="desc">
                        <span class="date">March 30, 2017</span>
                        <h3><a href="#">Biblical Counseling</a></h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        <a href="#">Read More <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box">
                <div class="news">
                    <a href="#" class="img-holder"><img class="img-responsive" src="images/img-4.jpg" alt=""></a>
                    <div class="desc">
                        <span class="date">March 30, 2017</span>
                        <h3><a href="#">Helping Children</a></h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        <a href="#">Read More <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box">
                <div class="news">
                    <a href="#" class="img-holder"><img class="img-responsive" src="images/img-2.jpg" alt=""></a>
                    <div class="desc">
                        <span class="date">March 30, 2017</span>
                        <h3><a href="#">Helping Children</a></h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        <a href="#">Read More <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box">
                <div class="news">
                    <a href="#" class="img-holder"><img class="img-responsive" src="images/img-1.jpg" alt=""></a>
                    <div class="desc">
                        <span class="date">March 30, 2017</span>
                        <h3><a href="#">Live News</a></h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        <a href="#">Read More <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box">
                <div class="news">
                    <a href="#" class="img-holder"><img class="img-responsive" src="images/img-3.jpg" alt=""></a>
                    <div class="desc">
                        <span class="date">March 30, 2017</span>
                        <h3><a href="#">Biblical Counseling</a></h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        <a href="#">Read More <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box">
                <div class="news">
                    <a href="#" class="img-holder"><img class="img-responsive" src="images/img-2.jpg" alt=""></a>
                    <div class="desc">
                        <span class="date">March 30, 2017</span>
                        <h3><a href="#">Helping Children</a></h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        <a href="#">Read More <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box">
                <div class="news">
                    <a href="#" class="img-holder"><img class="img-responsive" src="images/img-4.jpg" alt=""></a>
                    <div class="desc">
                        <span class="date">March 30, 2017</span>
                        <h3><a href="#">Helping Children</a></h3>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                        <a href="#">Read More <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
            #}
        </div>
    </div>
</div><!-- END container-wrap -->
