{{ use('/yii/widgets/ActiveForm') }}

<div class="sliderBackground"></div>
<div class="white"></div>
<div class="inner prMenu">
    <div class="rightColumn">
        <div class="breadcrumbs">
            <a href="/">Главная</a>
            <span>-</span>
            <span>Личный кабинет</span>
        </div>
        <h2>Смена пароля</h2>
        {% if app.session.hasFlash('passwordChange') %}
            <div class="cabinet-notivce">Ваш пароль успешно изменен!</div>
            {{ void(app.session.removeFlash('passwordChange')) }}
        {% endif %}
        {% set form = ActiveForm_begin({
        'action' : '/cabinet/password',
        'options' : {
            'class' : 'profile-form'
        }
        }) %}
            <div class="input">
                {{ form.field(passwordForm, 'oldPassword').passwordInput({
                }) | raw }}
            </div>
            <div class="input">
                {{ form.field(passwordForm, 'newPassword').passwordInput({
                }) | raw }}
            </div>
            <div class="input">
                {{ form.field(passwordForm, 'rePassword').passwordInput({
                }) | raw }}
            </div>
            <label for="profile-form-submit">
                <div class="saveParams orangeBt">Сохранить</div>
                <input id="profile-form-submit" type = submit class="hidden">
            </label>

        {{ ActiveForm_end() }}

    </div>
    <div class="leftColumn">
        {{ this.render('__navigation.twig') | raw }}
    </div>
</div>
