{{ use('/yii/widgets/Pjax') }}

{{ Pjax_begin({'id' : 'vac-pjax' }) }}
<section class="content content-type-2" >
    <div class="inner">
        <div class="right-col">
			{{info.text | raw}}
        </div>
        <div class="left-col">
            <h1 class="red-line-left">ВАКАНСИИ</h1>
            <div class="menu-jobs">
                <ul>
                    {% for vacItem in vacList %}
                        <li><a class="{% if vacItem.id == vac.id %}active{% endif %}" href="{{ thread.url }}/{{ vacItem.id }}">{{ vacItem.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ Pjax_end() }}