{{ use('/yii/widgets/ActiveForm') }}
{{ use ('vova07\imperavi\Widget') }}

{% set arules = app.get('arules') %}

<div class="page-header">
    <h1><i class="fa fa-{{ thread.icon }}"></i> {{ thread.name }}
        <small><i class="ace-icon fa fa-angle-double-right"></i> редактирование</small>
    </h1>
</div>

<div class="tabbable" id="admin-tabs">

    <ul class="nav nav-tabs" id="myTab">
        {% for tab in cat.tabs %}
            {% if arules.checkUserRule(app.user.id, cat.thread_id, tab.inner_blocks, 'view') or arules.checkUserRule(app.user.id, cat.thread_id, tab.inner_blocks, 'edit') %}
                <li class="{% if loop.index == 1 %}active{% endif %}">
                    <a data-toggle="tab" href="#tab-{{ loop.index0 }}" onclick="window.location.href=$(this).attr('href')">
                        {% if tab.icon is defined %}<i
                            class="{% if tab.color is defined %}{{ tab.color }}{% else %}blue{% endif %} ace-icon fa fa-{{ tab.icon }} bigger-120"></i>{% endif %}
                        {{ tab.name }}
                        {% if tab.inner_blocks is defined %}&nbsp;<span
                            class="badge {% if tab.count_color is defined %}badge-{{ tab.count_color }}{% else %}badge-danger{% endif %}">{% if tab._count %}{{ tab._count }}{% else %}0{% endif %}</span>{% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if cat.seo %}
            <li class="{% if cat.tabs | length == 0 %}active{% endif %}">
                <a data-toggle="tab" href="#tab-seo" onclick="window.location.href=$(this).attr('href')">
                    <i class="blue ace-icon fa fa-search bigger-120"></i>
                    Seo
                </a>
            </li>
        {% endif %}
        {% if arules.canSysThread(thread.id) %}
            <li class="{% if cat.tabs | length == 0 and not cat.seo %}active{% endif %}">
                <a data-toggle="tab" href="#tab-sys" onclick="window.location.href=$(this).attr('href')">
                    <i class="blue ace-icon fa fa-cogs bigger-120"></i>
                </a>
            </li>
        {% endif %}
    </ul>
    <div class="tab-content">
        {#{% set form = ActiveForm_begin({'action': path("/admin/threads/"~cat.threadId)}) %}#}
        {% set form = ActiveForm_begin() %}

        <input type="hidden" value="{{ cat.threadId }}" name="threadid">
        <input type="hidden" value="{{ cat.config.key }}" name="catkey">

        {% for tab in cat.tabs %}
            {% if arules.checkUserRule(app.user.id, cat.thread_id, tab.inner_blocks, 'view') or arules.checkUserRule(app.user.id, cat.thread_id, tab.inner_blocks, 'edit') %}
                <div id="tab-{{ loop.index0 }}" class="tab-pane {% if loop.index == 1 %}active in{% endif %}">

                    {# ---------- Поля формы ----------- #}
                    {% for field in tab.fields %}

                        {{ cat.renderField(field.key, form) | raw }}


                    {% endfor %}

                    {% if tab.fields | length %}
                        {% if app.get('arules').checkUserRule(app.user.id, thread.id, '', 'edit') %}
                            <button type="submit" class="btn btn-sm btn-success">
                                Сохранить
                                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                            </button>&nbsp;
                        {% endif %}
                        <!--
                        <button class="btn btn-sm btn-danger">
                            Отмена
                            <i class="ace-icon fa fa-ban icon-on-right"></i>
                        </button>
                        -->
                    {% endif %}

                    {# ---------- Вложенные блоки ----------- #}
                    {% if tab.inner_blocks %}
                        {{ cat.renderInnerblocks(tab.inner_blocks) | raw }}
                    {% endif %}

                </div>
            {% endif %}
        {% endfor %}

        {% if cat.seo %}
            <div id="tab-seo" class="tab-pane">
                {{ this.render('__seoform.twig', {'item': cat}) | raw }}
            </div>
        {% endif %}

        {{ ActiveForm_end() }}

        {% if arules.canSysThread(thread.id) %}
            <div id="tab-sys" class="tab-pane {% if cat.tabs | length == 0 and not cat.seo %}active in{% endif %}">
                {{ this.render('__mainform.twig', {'thread': thread, 'parentData': parentData, 'moduleData': moduleData}) | raw }}
            </div>
        {% endif %}

    </div>

</div>
