{{ use('/yii/widgets/ActiveForm') }}

{{ form.field(item, 'seo_title').textInput({
    'placeholder': 'Seo title',
    'class': 'input-sm form-control thread-name'
}) | raw }}

{{ form.field(item, 'seo_keywords').textInput({
    'placeholder': 'Seo keywords',
    'class': 'input-sm form-control thread-name'
}) | raw }}

{{ form.field(item, 'seo_description').textInput({
    'placeholder': 'Seo description',
    'class': 'input-sm form-control thread-name'
}) | raw }}

<br>

<button type="submit" class="btn btn-sm btn-success">
    Сохранить
    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
</button>
{% if item.blockId %}
    <a href="/admin/blocks/{{ item.blockKey }}/{{ item.blockId }}#tab-{{ item.tab }}" class="btn btn-sm btn-danger">
        Отмена <i class="ace-icon fa fa-ban icon-on-right"></i>
    </a>
{% else %}
    <a href="/admin/threads/{{ item.threadId }}#tab-{{ item.tab }}" class="btn btn-sm btn-danger">
        Отмена <i class="ace-icon fa fa-ban icon-on-right"></i>
    </a>
{% endif %}


