{{ use ('kartik\color\ColorInput') }}

{% if not config.lang and not language.isDefault %}
    <div class="form-group field-structurecat-color">
        <label class="control-label" for="structurecat-color">{{ config.name }}</label>
        <div style="opacity: .75;">
            <div class="color-input__color"
                 style="background: {{ model[config.key] }}; width: 20px; display: inline-block;">&nbsp;</div>
            {{ model[config.key] }}
        </div>
    </div>
{% else %}
    {{ form.field(model, config.key).widget(
        'kartik\\color\\ColorInput', {
            'options' : {
                'placeholder': 'Выберите цвет',
            }
        }
    ) | raw }}
{% endif %}